NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WS_URL=ws://localhost:3001
NEXT_PUBLIC_APP_NAME=HEMOSAFE
NEXT_PUBLIC_DEFAULT_MAP_CENTER_LAT=36.7372   # Algeria example default
NEXT_PUBLIC_DEFAULT_MAP_CENTER_LNG=3.0865
